---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font: 18px/1.8 "Roboto", serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: "Bebas Neue", "Verdana", sans-serif;
  line-height: 1.6em;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}
